[Unit]
Description=Service UDP Client/Serveur
After=network.target

[Service]
ExecStart=/usr/local/bin/client_server
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target